<div class="classify-title">
    <span goback></span>
    <h1>注册</h1>
</div>

<div class="minePage loginRegister registerNext">
    <form class="base-input-lay user-login-lay" name="userRegCode" form-vaildate>
        <div class="user-login">
            <div class="info-lay regCode">
                <label class="error-right">
                    <i class="iconzfl icon-shouji"></i>
                    <div class="user-input-lay">
                        <input type="text" validate-type="number" validate="{required:请输入您的验证码,minlength:验证码必须要4位,number:验证码必须要数字}"
                               ng-model="userReg.code" name="code" placeholder="请输入您验证码" ng-minlength="4" maxlength="4" required  >
                    </div>
                    <button type="button" class="reg-code" disabled><span>{{count}}</span>秒后重新获取</button>
                    <button type="button" class="reg-code regLoad" ng-click="loadVerify()" ng-show="count == 0" ng-disabled="count > 0">重新获取验证码</button>
                </label>
            </div>
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-denglumimaicon"></i>
                    <div class="user-input-lay">
                        <input type="password" ng-model="userReg.userPassword" name="pass" id="userPassword" validate="{required:请输入您的密码,minlength:密码最少6位,maxlength:密码最多18位}" ng-pattern="pattern" placeholder="6-18位字母、数字组合"  ng-minlength="6" maxlength="18" required  >
                    </div>
                </label>
            </div>
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-denglumimaicon"></i>
                    <div class="user-input-lay">
                        <input type="password" ng-model="userReg.repeatPassword" name="repeatpass"  validate-type="repeat" repeat="userPassword" validate="{required:请输入确认密码,repeatMessage:两处密码不正确}" ng-pattern="pattern" placeholder="请确认密码"  maxlength="18" required  >
                    </div>
                </label>
            </div>
        </div>
        <button form-submit="register()" class="submit submit-margin">{{model == 'reg' ? '注册' : '找回密码'}}</button>
    </form>
</div>