<div class="classify-title">
    <a href="javascript:;" class="titLeft" ng-click="backClick()"><span class="icon return"></span></a>
    <h1>
        {{!index? '登录' : ''}}
        {{!!index && model == 'register' ? '注册' : ''}}
        {{!!index && model == 'fetch' ? '找回密码' : ''}}
    </h1>
</div>

<!-- 用户登录 -->
<div class="minePage loginRegister mineLogin" ng-show="!!index == false">
    <form class="base-input-lay user-login-lay" name="loginForm" form-vaildate>
        <div class="user-login">
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-shouji"></i>
                    <div class="user-input-lay">
                        <input type="text" name="phone" validate-type="phone"  ng-model="userLog.userPhone"
                               validate="{required:请输入您的手机号码,phone:手机格式不正确}" placeholder="请输入您的手机号码" required />
                    </div>
                </label>
            </div>
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-denglumimaicon"></i>
                    <div class="user-input-lay">
                        <input type="password" ng-model="userLog.userPassword" name="pass"
                               validate="{required:请输入您的密码,minlength:密码最少6位,maxlength:密码最多18位}" placeholder="请输入您的密码"  ng-minlength="6" maxlength="18" required />
                    </div>
                </label>
            </div>
        </div>
        <div class="submit-lay">
            <button class="submit" form-submit="login()">登录</button>
            <a href="javascript:;" class="submit" ng-click="switch('register')">注册</a>
        </div>
    </form>

    <div class="retrieve">
        <a href="javascript:;" ng-click="switch('fetch')">找回密码</a>
    </div>

    <div class="log-select" ng-if="browser.v.weixin">
        <div class="title-content">
            <div class="title-border"></div>
            <div class="title-content-text"><span class="text">一键登录</span></div>
        </div>
        <div class="log-option">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa6ddfd2bf5f24af7&redirect_uri=http%3A%2F%2Fm.zhefengle.cn%2F%23%2Fuser%2FthirdLogin&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect">
                <i class="iconzfl icon-weixinpng"></i>
                <p>微信登陆</p>
            </a>
        </div>
    </div>
</div>



<!-- 填写手机号 -->
<div class="minePage loginRegister upPass" ng-show="index === 1">
    <form class="base-input-lay user-login-lay" name="userRegForm" form-vaildate>
        <div class="user-login">
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-shouji"></i>
                    <div class="user-input-lay">
                        <input type="text" ng-model="userReg.mobile" name="phone" validate-type="phone" validate="{required:请输入您的手机号码,phone:手机格式不正确}" placeholder="请输入您的手机号码"  maxlength="11" required  >
                    </div>
                </label>
            </div>
        </div>
        <button class="submit submit-margin" form-submit="getCodeClick()">注册</button>
    </form>
</div>


<!-- 填写验证码以及密码完成 注册/修改密码 -->
<div class="minePage loginRegister registerNext" ng-show="index === 2">
    <form class="base-input-lay user-login-lay" name="userRegCode" form-vaildate>
        <div class="user-login">
            <div class="info-lay regCode">
                <label class="error-right">
                    <i class="iconzfl icon-shouji"></i>
                    <div class="user-input-lay">
                        <input type="text" validate-type="number" validate="{required:请输入您的验证码,minlength:验证码必须要4位,number:验证码必须要数字}"
                               ng-model="userReg.code" name="code" placeholder="请输入您验证码" ng-minlength="4" maxlength="4" required  >
                    </div>
                    <button type="button" class="reg-code" disabled><span>{{count}}</span>秒后重新获取</button>
                    <button type="button" class="reg-code regLoad" ng-click="loadVerify()" ng-show="count == 0" ng-disabled="count > 0">重新获取验证码</button>
                </label>
            </div>
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-denglumimaicon"></i>
                    <div class="user-input-lay">
                        <input type="password" ng-model="userReg.userPassword" name="pass" id="userPassword" validate="{required:请输入您的密码,minlength:密码最少6位,maxlength:密码最多18位}" ng-pattern="pattern" placeholder="6-18位字母、数字组合"  ng-minlength="6" maxlength="18" required  >
                    </div>
                </label>
            </div>
            <div class="info-lay">
                <label class="error-right">
                    <i class="iconzfl icon-denglumimaicon"></i>
                    <div class="user-input-lay">
                        <input type="password" ng-model="userReg.repeatPassword" name="repeatpass"  validate-type="repeat" repeat="userPassword" validate="{required:请输入确认密码,repeatMessage:两处密码不正确}" ng-pattern="pattern" placeholder="请确认密码"  maxlength="18" required  >
                    </div>
                </label>
            </div>
        </div>
        <button form-submit="regClick()" class="submit submit-margin">{{model == 'register' ? '注册' : '找回密码'}}</button>
    </form>
</div>