<div class="classify-title">
    <span goback></span>
    <h1>关于我们</h1>
</div>

<div class="minePage innerPage aboutUsPage">
    <h3>1. 海蜇头是一家什么样的网站？</h3>
    <p>“海蜇头”是一家更专业海淘导购网站，主要汇聚于母婴／美妆／食品，通过尖端技术手段全网精选和比价，为无暇挑选海淘商品，没时间比价的您，精挑细选适合您的商品</p>
    <h3>2. 如何注册成为海蜇头用户？</h3>
    <p>进入“我的”页面，点击“注册”按钮，输入您的手机号码和动态验证码，即可完成注册。您还可以通过腾讯QQ、微信进行联合登录。</p>
    <h3>3. 海蜇头比来比去，怎么比的？</h3>
    <p>海蜇头推荐的任何一款海淘商品都是在20多个正品保税仓b2c平台综合比价（是否包邮，是否需要缴纳关税等大量优惠信息），通过用户真实评价、真实推荐以及大数据分析，精心为您挑选，呈现出性价比高的商品。</p>
    <h3>4. 海蜇头退换货规则</h3>
    <p>海蜇头的退换货规则遵循各海淘平台退换货规则一致，海蜇头会协助您受理售后。</p>
    <h3>5. 海蜇头希望</h3>
    <p> 每个人都能买到优质尖货、价廉物美的商品，更希望能被更多的人认可和分享</p>
</div>