<div class="classify-title">
    <span goback></span>
    <a href="javascript:;" class="titRight settingBtn"><span class="icon setting"></span>设置</a>
    <h1>基本资料</h1>
</div>

<div class="minePage innerPage setInfoPage">
    <form name="setInfoForm" form-vaildate>
        <div class="set-info-main set-info-lay error-right">
            <div class="info-lay">
                <label class="info-name cf">
                    <span class="info-text-name">用户名: </span>
                    <div class="set-input">
                        <input type="text" class="txt" ng-model="userData.userName" ng-pattern="/^[\u4E00-\u9FFFa-zA-Z0-9_-]{2,20}$/"
                               name="userName" validate="{required:用户名不能为空,pattern:用户名格式不正确}" placeholder="用户名不能为空" required />
                    </div>
                </label>
            </div>
            <div class="info-lay">
                <div class="info-name info-radio cf">
                    <span class="info-text-name">性&nbsp&nbsp&nbsp别: </span>
                    <label class="checkbox-four"><input type="radio" value="2" name="sex" class="icon-gouxuanjian" checked="{{userData.userSex == 2 ? true : false}}">女</label>
                    <label class="checkbox-four"><input type="radio" value="1" name="sex" class="icon-gouxuanjian" checked="{{userData.userSex == 1 ? true : false}}">男</label>
                </div>

            </div>
            <div class="info-lay" bind-date="date">
                <label class="info-name cf">
                    <span class="info-text-name">生&nbsp&nbsp&nbsp日: </span>
                    <div class="set-input">
                        <select ng-model="$year"    ng-options="year for year in range(1950, 2015)"></select>
                        <select ng-model="$month"   ng-options="month for month in range(1, 12)"></select>
                        <select ng-model="$date"    ng-options="date for date in range(1, $lastDate)"></select>
                    </div>
                </label>
            </div>
        </div>

        <div class="base-input-lay user-login-lay">
            <button form-submit="submit()" class="submit submit-margin">保存</button>
        </div>
    </form>

</div>