<div class="classify-title">
    <span goback></span>
    <h1>设置</h1>
</div>

<div class="minePage innerPage">
    <div class="mine-more">
        <div class="part">
            <div class="item">
                <a href="#/mine/setInfo" class="right">
                    <span class="icon icon-right"></span>
                </a>
                <a href="#/mine/setInfo" class="strong">基本资料</a>
            </div>
            <div class="item">
                <a href="#/mine/upPass" class="right">
                    <span class="icon icon-right"></span>
                </a>
                <a href="#/mine/upPass" class="strong">修改密码</a>
            </div>
        </div>
    </div>
</div>