<div class="classify-title">
    <span goback></span>
    <h1>{{dataList.topicName}}</h1>
</div>

<!-- 分类页面商品列表 start -->
<div class="pastCollectibles pastCollectiblesList">
    <div class="item" ng-repeat="item in dataList.items">
        <div class="item-pic">
            <a href="#/productDetails/{{item.id}}"><img lazy-img="{{item.image}}" alt=""/></a>
        </div>
        <div class="item-cont">
            <h3><a href="#/productDetails/{{item.id}}">{{item.title}}</a></h3>
            <p><a href="#/productDetails/{{item.id}}"><strong>推荐理由：</strong>“{{item.shortComment}}”</a></p>
            <!--
            <div class="item-price">
                <div class="spotPrice" ng-repeat="spotPrice in item.items" style="width: 66%">
                    <span class="products-logo tmall"><img bo-src="" /></span>
                    <strong class="price-red"><span>￥</span>{{spotPrice.price}}</strong>
                    <span class="price-oldPrice">￥{{spotPrice.originalPrice}}</span>
                    <div class="price-discount">{{spotPrice.discount}}折</div>
                </div>
                <a href="#/productDetails/{{item.id}}" class="moreResults">查看更多比价</a>
            </div>
            -->
            <div class="item-price">
                <div class="spotPrice" style="width: 66%">
                    <span class="products-logo"><img src="{{item.items[0].logoImage}}" /></span>
                    <strong class="price-red"><span>￥</span>{{item.items[0].price}}</strong>
                    <span class="price-oldPrice">￥{{item.items[0].originalPrice}}</span>
                    <div class="price-discount">{{item.items[0].discount}}折</div>
                </div>
                <a href="#/productDetails/{{item.id}}" class="moreResults">查看更多比价</a>
            </div>
        </div>
    </div>
    <!--
    <div class="item">
        <div class="item-pic">
            <a href="#/productDetails/1"><img src="./pic/past-collectibles-01.jpg" alt=""></a>
        </div>
        <div class="item-cont">
            <h3><a href="#/productDetails/1">Lancome 兰蔻 奇迹香水女士香水 30ml装</a></h3>
            <p><a href="#/productDetails/1"><strong>推荐理由：</strong>“让你瞬充满活力满活力 让你瞬充满活力满活力充满活力满活力 ”</a></p>
            <div class="item-price">
                <div class="spotPrice">
                    <span class="products-logo tmall"></span>
                    <strong class="price-red"><span>￥</span>298</strong>
                    <span class="price-oldPrice">￥598</span>
                    <div class="price-discount">5.5折</div>
                </div>
                <a href="#/productDetails/1" class="moreResults">查看更多比价</a>
            </div>
        </div>
    </div>
    -->

</div>
<!-- 分类页面商品列表 end -->