@charset "utf-8";
/* CSS Document */

.show{ display: block ;}
.hide{ display: none ;}

.products-logo{
    width: 80px;
    width: 2rem;
    height: 36px;
    height: .9rem;
    display: inline-block;
    vertical-align: middle;
    display: block;
}
.products-logo img{
    max-width: 85%;
}
.purple{
    color: #db2476;
}
.products-logo.tmall{
    background: url(../images/logo-tmall.png) center no-repeat;
    background-size: contain;
}
.products-logo.yangWharf{
    background: url(../images/logo-ymt.png) center no-repeat;
    background-size: contain;
}
.products-logo.amazon{
    background: url(../images/logo-amazon.png) center no-repeat;
    background-size: contain;
}

.max-tmall{ background: url(../images/max-tmall.png) center no-repeat;  }
.max-amazon{ background: url(../images/max-amazon.png) center no-repeat; }
.max-yangWharf{ background: url(../images/max-ymt.png) center no-repeat; }

.price-red,.price-gray{
    font-family: 'Arial';
    font-weight: 300;
    vertical-align: middle;
    font-size: 30px;
    font-size: .75rem;
    color: #dd1c76; }
.price-red span,.price-gray span{ font-size: 18px; font-size: .5rem;font-weight: bold; vertical-align: text-bottom; }
.price-gray{ color: #ccc;}

.price-oldPrice{
    font-size: 18px;
    font-size: .5rem;

    color: #ccc;
    text-decoration: line-through;
    vertical-align: middle;
}
.price-discount{
    display: inline-block;
    padding-left: 10px;
    padding-left: .25rem;
    width: 57px;
    width: 1.8rem;
    min-width: 40px;
    /*height: 26px;*/
    color: #e13d8a;
    vertical-align: middle;
    font: .5rem/1.5  'microsoft yahei';

    background: url(../images/discountTips.png) 0 0 no-repeat;
    background-size: contain;
}

/*
*/
a.moreResults{
    width: 124px;
    width: 3.5rem;
    min-width: 80px;
    height: 60px;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 18px;
    font-size: .5rem;
    color: #fff;
    background-color: #dd1c76;
    border-radius: 3px;
    display: block;
    vertical-align: middle;
}
.icon-right{
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../images/icon-right.png) center no-repeat;
    background-size: contain;
}



.noProduct{
    position: relative;
    overflow: hidden;
    height: 1.8rem;
    background: url(../images/noProduct.png) center no-repeat;
    background-size: 100%;
}
.noProduct:before{
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -1px;
    height: 1px;
    box-shadow: 1px 1px 30px #000;
    border-radius: 50%;
}

/*
    到手价
*/
.red-SettlementPrice{
    display: inline-block;
    padding: 4px 10px 2px;
    font-size: 18px;
    font-size: .6rem;
    line-height: 1em;
    border: 1px solid #db2476;
    color: #db2476;
    background-color: #fff;
    border-radius: 3px;
    vertical-align: middle;
}

/*
    返回头部
*/
.goTop{
    opacity: .8;
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/icon_goTop.png) center no-repeat;
    background-size: contain;
}
.goTop:active{ opacity: 1; }


.modelTips{
    position: absolute; left: 0; top: 0; width: 100%; height: 1.61rem;
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}
.top-products .modelTips{ background-image: url(../images/topProductsInfo.png); }
.themePavilion .modelTips{ background-image: url(../images/themePavilionInfo.png); }
.pastCollectiblesModule .modelTips{ background-image: url(../images/pastCollectiblesInfo.png); }
.price-competition .modelTips{ background-image: url(../images/price-competition.png); }
.graphic-details .modelTips{ background-image: url(../images/graphic-details.png); }



a.submit,
button.submit{
    font-size: .6rem;
    display: block;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    background-color: #df1176;
    border: 0 none;
    color: #fff;
    border-radius: .1rem;
    text-align: center;
}
.submit:active{
    margin-top: 1px;
}


/*input checkbox公用 圆圈*/
.checkbox-four{float: left;display: inline-block;height: 20px;}
.checkbox-four label{display: inline-block;margin-right: 10px;}
.checkbox-four input{
    position: relative;
    z-index: 999;
    display: inline-block;
    width: 20px;height: 20px;line-height: 20px;text-align: center;
    border:1px solid rgb(159,163,182);
    color: #fff;
    vertical-align: middle;
    background: #fff;

    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.checkbox-four input:checked {background: rgb(229,0,57);border-color:rgb(229,0,57); position: relative;}
.icon-gouxuanjian:before{
    margin: 3px 0 0 3px;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAxy2BQwzWmle1j18dXTYcYwAAAEFJREFUCNdjAALWAAYQYM8AU753G0CU7EUGBh4H5ruXGBg4r+veNWBg2Hv3LlCMQfEuUAwI1gLFgIAlkQEMQGYAAEJnD9kl7xDrAAAAAElFTkSuQmCC") 0 0 no-repeat;
    background-size: contain;
}

/* 验证提示 */
.error{
    padding: 5px 10px;
    color: rgb(231,60,92);
    font-size: 15px;
    clear: both;
    background: #eee;
}
.error-right .error{
    padding: 3px;
    line-height:1.4em;
}
.error-right .error-label{position: relative;}

.view{background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAM1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlkqvaGAAAAEHRSTlMAGcDto456TAxdN9/Tsylq6duu2gAAARxJREFUOMvdVNuyhDAIs/Rub/z/1x7sdACdntHnzcvOYpoExB4/jDO0ahFtdcP8zzKhoALkPS35+diC896BRUKJG16+HtXQOYS/CmCeco2q7bwXRyGDu2gv4vNM43Wvlv6n7RRIwYke8bL0nkPIhkVBmIZORaY5nHCG07M7EE+FWLDcGSy/gRhYj3gQjYlATNasiJ1+LFbO59jGqyY6IhxH0AGpogyX5OJUJZjVociTmK7tmGZy0ij1oCMR0X0jNrTpgzVchfClmVnpH8YzZWp6HfhK1ravUNZiiM12KWR9JBqk/ZoZWH7MLOd+cZnHA8CQXj8FQrQkOu60YFFNXYdB68/H58oj1qJFXQB4oeRjjwxvV4oEGE4uqd/FHwypE+K1/5WwAAAAAElFTkSuQmCC) 0 0 no-repeat;}
.refresh{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAM1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlkqvaGAAAAEHRSTlMA8BEIuFOZYx6kOMLQrIuCsHzFyAAAAOJJREFUOMvFlN0agyAIhhNRK3/y/q924Zi2gc/27CSOqD55+ZGWG806n0ytJnlnJxIopnYzBTRNYEmXBanZ+VPMObJ8E0xHr/3OJ3xT4afKYs3reFyxxfpW6kGqcIkyVZlRIzpVRcTSi6cDiq0UyrJvZhlSjW5EJV/vnWcYmQ48GekFm7Yknqc7TAVaAPoI0CA0AABlUGzI5KjBNp55m1YismLwTDf0dvD4FSAO3y8qkGBcBoVddeC4B6Vy6hKI7xke+gINN1ShmrUEr9c3qzdcLoIc1CZXav9vOeWa//LDuM8e4GYQ3tHECygAAAAASUVORK5CYII=) 0 0 no-repeat;}
.icon-shouji,.phone{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAJ1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmahP7BAAAADHRSTlMAgHBekCDv0qVxxbBi2UGRAAAAWklEQVQoz2MAAbMzMHDMgAEG0gVhQDwBLngQzuI8gEWQCSF4ygUGvBCCZxAAq/ZRweEpeNoYBiwIJYZQGAhECB5CmEmEIEdaBqYgs4szEdpPYiZvzIyANcsAAAlcY5T/eH3kAAAAAElFTkSuQmCC) 0 0 no-repeat;}
.icon-denglumimaicon,.secure{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAM1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlkqvaGAAAAEHRSTlMADZLcf8Ay7KNmXXWzHxZCQ9CeEgAAAQNJREFUOMvVlEmSgzAMRSPJA2Py7n/apjpFGwRypXoXrWzxsAZ/6+GtqAGm5dG1dWG3Ze1wpQI26GBALTEH5PJeZiAixSD97RKY3IMz6GGrMN+DlSrHANs+yjCdHCnIcvT+AuMdmOB5cjx9iJa868K3gzIN9iuMSXqgpMpuNXXaY2yWVTWzmcUg2Cjv/MYN64AqrRQNQLEmK69I71b363B3pFRMrkGqeHCC8U55k/cNINcwMHifkffl3IrKmAdB29d8iPMZqP8DW44N9Dn6qhvYqo77uLC4PgY3s6bV3Ux4162U9Il65mCeFa/HcEK+Lgp/RRPXvZl4Np9foTw61t61w34AvjkRCKJl+KUAAAAASUVORK5CYII=) 0 0 no-repeat;}

.iconzfl{
    position: absolute;
    left: .2rem;
    top: .38rem;
    width: 20px;
    height: 20px;
    background-size: contain;
}


.icon-Cart{
    display: block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-Cart{ background-image: url("../images/icon-Cart.png"); }


/*信息提示公用*/
.massage{ position: fixed; bottom: 60px; width: 100%; z-index: 9999; text-align: center; }
.massage .massage-main{ padding: 10px; display: inline-block; font-size: 16px; background: rgba(0, 0, 0, 0.4); border-radius: 4px; line-height: 1.4em; color: #fff; }


.startImg{
    transition:all linear 0.3s;
    opacity: 0;
}

.loadSuccessImg{
    opacity: 1;
}













/*
    以上为-公共/公用样式
*/


.wrap{
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-bottom: 1.95rem;
    background-color: #eee;
}

.classify-title{
    position: relative;
    height: 80px;
    height: 2.4rem;
    line-height: 80px;
    line-height: 2.4rem;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
}
.classify-title h1{
    font-size: 36px;
    font-size: .8rem;
    color: #df1176;
    text-align: center;
    font-weight: normal;
}
.classify-title .titRight,
.classify-title .titLeft{
    position: absolute;
    top: 0;
    width: 80px;
    width: 2.4rem;
    height: 100%;
    font-size: 0;
}
.classify-title .titLeft{ left: 0; }
.classify-title .titRight{ right: 0; }

.classify-title span.icon{
    margin: .6rem auto 0;
    display: block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.classify-title .return{ background-image: url("../images/icon-return.png"); }
.classify-title .share{ background-image: url("../images/icon-share.png"); }
.classify-title .setting{ background-image: url("../images/icon-setting.png"); }
.classify-title .settingBtn{
    font-size: .6rem;
    line-height: 1;
    text-align: center;
    color: #df1176;
}
.classify-title .settingBtn span{
    margin-top: .3rem;
    margin-bottom: .2rem;
    width: 1rem;
    height: 1rem;
}

/*
    header  - 首页模块
*/

.header{
    position: relative;
    height: 80px;
    height: 2rem;
    text-align: center;
    background-color:#dd1c76;
}
.header h1{
    margin: 0 auto;
    font-size: 0;
    height: 80px;
    height: 2rem;
    width: 3rem;
    background: url(../images/title.png) center no-repeat;
    background-size: contain;
}
.header .moreBrand{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    width: 2rem;
    background: url(../images/moreBrand.png) center no-repeat;
}

/*
    banner slide - 首页模块
*/
.banner-slide{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner-slide .slide-box{
    position: relative;
}
.banner-slide .slide-box ul{
    position: relative;
    left: 0;
    width: 2600px;
}
.banner-slide .slide-box ul li{
    position: relative;
    float: left;
}
.banner-slide .slide-switchable{
    position: absolute;
    left: 50%;
    top: 270px;
    margin-left: -56px;
}
.banner-slide .slide-switchable li{
    float: left;
    width: 22px;
    height: 6px;
    margin-right: 8px;
    background-color: #000;
}
.banner-slide .slide-switchable li:hover,
.banner-slide .slide-switchable li.on{
    background-color: #d71f78;
}
.banner-slide .slide-box img{
    width: 100%;
}
.banner-slide .slide-selected{
    position: absolute;
}
.slide-detailedPage{
    position: relative;
    width: 100%;
    background-color: #fff;
}
.slide-detailedPage .product-info{
    font-size: 24px;
    font-size: .6rem;
    padding: 0 20px;
    padding:.5rem;
    line-height: 1.4em;
}
.slide-detailedPage .icon-graphic-details{
    position: absolute;
    top: 450px;
    top: 11rem;
    right: 20px;
    width: 4em;
    height: 4em;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.5em;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-size: .55rem;
    line-height: 1.4em;;
    text-align: center;
    background-color: #8e8e8e;
    border: 2px solid #fff;
    cursor: pointer;
}
.slide-detailedPage .icon-soldOut{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;

    background: url(../images/soldOut.png) center no-repeat;
    background-size:30% auto;
}


/*
    推荐产品 - 首页模块
*/
.top-products{
    position: relative;
    padding-top: 35px;
    padding-top: 1.1rem;
}
.top-products .item{
    margin-top: 15px;
    margin-top: .5rem;
    position: relative;
    background-color: #fff;
}
.top-products .item .top{
    position: absolute;
    left: 10px;
    top: -0.12rem;
    width: 2.25rem;
    height: 1.4rem;
    color: #fff;
    text-align: center;
    font: .6rem/2.65em 'arial';
    background: url(../images/topTitle.png) 0 0 no-repeat;
    background-size: contain;
}
.top-products .item .secondly{
    background: url(../images/topTitleSecondly.png) 0 0 no-repeat;
    background-size: contain;
}
/*.top-products .item:before{ }
.top-products > div:nth-child(1):before{ content: 'TOP1'; }
.top-products > div:nth-child(2):before{ content: 'TOP2'; }
.top-products > div:nth-child(3):before{ content: 'TOP3'; }
.top-products > div:nth-child(4):before{ content: 'TOP4'; }
.top-products > div:nth-child(5):before{ content: 'TOP5'; }
.top-products > div:nth-child(6):before{ content: 'TOP6'; }
.top-products > div:nth-child(7):before{ content: 'TOP7'; }
.top-products > div:nth-child(8):before{ content: 'TOP8'; }
.top-products > div:nth-child(9):before{ content: 'TOP9'; }
.top-products > div:nth-child(10):before{ content: 'TOP10'; }*/
.top-products .item-title{
    height: 50px;
    line-height: 50px;
    height: 1.25rem;
    line-height: 1.25rem;
}
.top-products .item-title h2{
    color: #dd1c76;
    padding-left: 2.9rem;
    font: 600 .6rem/2.2em 'microsoft yahei';
}
.top-products .item-pic{  }
.top-products .item-pic img{
    width: 100%;
}
.top-products .item-cont{
    padding: 0 3.4%;
}
.top-products .item-cont h3{
    font-size: 16px;
    line-height: 1.4em;
    padding: .3rem 0 .1rem;
}
.top-products .item-cont h3 a{ color: #666; }
.top-products .item-cont p{
    font-size: 14px;
    line-height: 1.4em;
}
.top-products .item-cont p a{color: #999;}
.top-products .item-price{
    padding: .3rem 0 ;
    width: 100%;
}
.top-products .item-price ul{
    position: relative;
    overflow: hidden;
}
.top-products .item-price li{
    position: relative;
    width: 22%;
    height: 2rem;
    float: left;
    margin-left: -1px;
    text-align: center;
}
.top-products .item-price li:before{
    content: '';
    position: absolute;
    right: 0;
    top: 14px;
    top: .8rem;
    width: 1px;
    height: 40px;
    height: 1rem;
    background-color: #e2e2e2;
}
.top-products .item-price .products-logo{
    margin: 0 auto;
    text-align: center;
}
.top-products .item-price .products-logo img{
    max-width: 85%;
    margin: 0 auto;
}

.top-products .item-price li:nth-child(1){ padding-left: 3%; text-align: left; }
.top-products .item-price li:nth-child(1) .products-logo{ margin: 0; }
.top-products .item-price li:last-child{ width: 28%; float: right;}
.top-products .item-price li:last-child:before{
    height: 0;
}
.top-products .item-price li strong{
}
.top-products .item-price .moreResults{
    position: absolute;
    right: 0;
    bottom: 10%;
    max-width: 100%;
}
.top-products .item-price strong{}
.top-products{}




/*
    主题馆 - 模块级
*/

.themePavilion{
    position: relative;
    padding:1.61rem .3rem 0;
}
.themePavilion > div{ float: left; margin-bottom: .3rem;}
.themePavilion > div img{ width: 100%; float: left;}
/*.themePavilion .tp-left{ width: 50%; padding-right: .15rem; }
.themePavilion .tp-left img{ float: left;width: 100%; }
.themePavilion .tp-right{ width: 50%; padding-left: .15rem; }
.themePavilion .tp-right{ text-align: right; }
.themePavilion .tp-right img{ float: right; width: 100%;}*/
.themePavilion .tp-cont{ width: 100%; }

.themePavilion > div:nth-child(1),
.themePavilion > div:nth-child(4){
    width: 50%;
    padding-right: .15rem;

}

.themePavilion > div:nth-child(2),
.themePavilion > div:nth-child(5){
    float: right;
    width: 50%;
    padding-left: .15rem;
}



/*
    往期精品
*/
.pastCollectiblesModule{
    position: relative;
    padding-top: 50px;
    padding-top:1.61rem;
}
.pastCollectibles .item{
    margin-bottom: 10px;
    background-color: #fff;
}
.pastCollectibles .item-pic{
}
.pastCollectibles .item-cont{
    padding: 0 20px;
}
.pastCollectibles .item-cont h3{
    font-size: 14px;
    padding: .3rem 0 .1rem;
    line-height: 1.4em;
}
.pastCollectibles .item-cont h3 a{color: #666;}
.pastCollectibles .item-cont p{
    font-size: 14px;
    line-height: 1.4em;
}
.pastCollectibles .item-cont p a{color: #999;}
.pastCollectibles .item-cont p strong{
    color: #666;
}
.pastCollectibles .item-price{
    position: relative;
    overflow: hidden;
    padding: .3rem 0;
}
.pastCollectibles .spotPrice{
    padding-top: .3rem;
    float: left;
}
.pastCollectibles .moreResults{
    position: absolute;
    right: 0;
    bottom: .4rem;
}
.pastCollectibles .spotPrice >*{
    margin-right:5px;
}
.pastCollectibles .item-pic{
    position: relative;
}
.pastCollectibles .item-pic img{
    width: 100%;
}
.pastCollectibles .item-pic .tips{
    position: absolute;
    left: 0;
    top: 0;
    width: 3.1rem;
    height: 3.1rem;

    background: url(../images/recommendTips.png) 0 0 no-repeat;
    background-size: contain;
}
.pastCollectibles{}





/*
    底部菜单
*/

.fix-bottom{
    border-top: 1px solid #eee;
    font-size: 0;
    height: 80px;
    height: 2rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
    background: #fff;
    line-height: 0;
}
.fix-bottom-main{
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}
.fix-bottom-main a.on,
.fix-bottom-main a:hover{
    color: #e13d8a;
}

.fix-bottom-main a{
    height: 100%;
    width: 33.3%;
    float: left;
    font: 20px/1 '';
    font-size: .5rem;
    color: #666;
    text-align: center;
}
.fix-bottom-main .icon{
    margin: 10px auto 5px;
    margin: .2rem auto;
    display: block;
    width: 35px;
    width: .88rem;
    height: 35px;
    height: .88rem;
}
.fix-bottom-main .home{ background: url(../images/bottomHome.png) center no-repeat; background-size: contain;}
.fix-bottom-main .on .home,.fix-bottom-main a:hover .home{ background: url(../images/bottomHomeHover.png) center no-repeat; background-size: contain;}
.fix-bottom-main .ztg{ background: url(../images/bottomZtg.png) center no-repeat; background-size: contain;}
.fix-bottom-main .on .ztg,.fix-bottom-main a:hover .ztg{ background: url(../images/bottomZtgHover.png) center no-repeat; background-size: contain;}
.fix-bottom-main .me{ background: url(../images/bottomMe.png) center no-repeat; background-size: contain;}
.fix-bottom-main .on .me,.fix-bottom-main a:hover .me{ background: url(../images/bottomMeHover.png) center no-repeat; background-size: contain;}

.fix-bottom-main a:first-child{ padding-right: 10%;}
.fix-bottom-main a:last-child{ padding-left: 10%;}



/*
    价格比较 - 详情页面
*/
.price-competition{
    position: relative;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-top:1.61rem;
}
.price-competition-inner{
    background-color: #fff;
}
.price-competition .left-nav{
    float: left;
    width: 159px;
    width: 4.1rem;
    position: relative;
    z-index: 1;
    margin-right: -1px;
}
.price-competition .left-nav .minimumPrice{
    position: absolute;
    left: 0; top: 0;
    width: 60px;
    width: 1.5rem;
    height: 60px;
    background: url(../images/minimumPrice.png) top no-repeat;
    background-size: contain;
}
.price-competition .left-nav li{
    position: relative;
    width: 158px;
    width: 4rem;
    height: 100px;
    height: 2.5rem;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d2d2d2;
}
.price-competition .left-nav li.on{
    width: 159px;
    width: 4.1rem;
}
.price-competition .max-logo{
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-width: 110px;
}
.price-competition .max-logo img{
    width: 70%;
    max-width: 100%;
    margin:11% auto auto;
}

.price-competition .right-cont{
    overflow: hidden;
    zoom:1;
    min-height: 310px;
    padding:26px 0 10px 30px;
    padding: .6rem 0 .3rem .7rem;
    border-left: 1px solid #d2d2d2;
}
.price-competition .merchant-item{
    display: none;
}
.price-competition .merchant-item.on{
    display: block;
}
.price-competition .merchant-item .item{
    font-size: 18px;
    font-size: .5rem;
    padding: 5px 0;
    padding: .2rem 0;
    border-top: 1px solid #ccc;
}
.price-competition .merchant-item .item p{
    line-height: 1.8em;
}
.price-competition .merchant-item .fee-num{
    font-size: 24px;
    font-size: .7rem;
    display: block;
    color: #666;
    font-weight: 300;
    text-align: left;
    /*margin-bottom: 6px;
    margin-bottom: .15rem;*/
}
.price-competition .merchant-item .fee-num span{
    font-size: 18px;
    font-size: .5rem;
}
.price-competition .merchant-item .firstItem {
    border-top: 0 none;
}
.price-competition .merchant-item .firstItem .price-red{
    margin-right: .1rem;
    font-size: .8rem;
}

.price-competition .firstItem .sign,
.price-competition .firstItem .fee-Type{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    margin-right:10px;
    margin-right: .2rem;
    line-height: 1.2em;
}
.price-competition .firstItem .sign{
    font-size: 18px;
    font-size: .5rem;
    padding-top: 4px;
    font-weight: bold;
}
.price-competition .firstItem .fee-Type{
    text-align: center;
    font-size: 18px;
    font-size: .5rem;
}
.price-competition .price-theirPrice{
    padding-bottom: 25px;
}
.price-competition .starLevel{
    position: relative;
    width: 5.1rem;
    height: .9rem;
    margin: .3rem 0;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

.price-competition .starLevel .grade,
.price-competition .starLevel .star-layer{
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
}
.price-competition .starLevel .star-layer{
    background: url(../images/star.png) center no-repeat;
    background-size: 100%;
}
.price-competition .starLevel .grade{
    width: 80%;
    background-color: #f7ce01;
}
/*.price-competition .btn-gotoShop{
    display: block;
    margin: 10px 0 10px 35%;
    margin: .3rem 0 .3rem 20%;
    width: 40%;
    width: 10rem;
    height: 66px;
    height: 2rem;
    background: url(../images/btn-gotoShop.png) center no-repeat;
    background-size:contain;
}*/

.price-competition .shopBar{
    text-align: right;
    padding: .3rem 0 .5rem;
}
.price-competition .btn-gotoShop{
    display: block;
    margin: .3rem 0 .3rem 30%;
    width: 10rem;
    height: 2rem;
    border-radius: .2rem;
    padding: .4rem;
    text-align: center;
}
.price-competition .btn-gotoShop .icon-Cart{
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem;
}
.price-competition .btn-gotoShop .txt{
    line-height: 1rem;
    vertical-align: middle;
    color: #fff;
    font-size: .8rem;
    display: inline-block;
}

.price-competition .btn-gotoShop.goShop{ background-color: #db2476;}
.price-competition .btn-gotoShop.soldOut{ background-color: #858585;}
.price-competition .goShop .txt-none{ display: none;}
.price-competition .soldOut .txt-fill{ display: none;}

/*

*/
.moreModels{
    font-size: 18px;
    font-size: .5rem;
    background-color: #fff;
    display: none;
}
.moreModels .moreModels-title{
    font-size: 18px;
    font-size: .5rem;
    padding: 0 10px;
    line-height: 46px;
    font-weight: bolder;
}
.moreModels .moreModels-cont{
    overflow: hidden;
    padding: 0 10px;
}
.moreModels .moreModels-cont li{
    float: left;
    margin-right: 14px;
    text-align: center;
    width: 110px;

}
.moreModels .moreModels-cont .pic{
    position: relative;
    width: 108px;
    height: 108px;
    border: 1px solid #eee;
    text-align: center;
    display: inline-flex;
}
.moreModels .moreModels-cont .pic img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.moreModels .moreModels-cont .txt{
    line-height: 42px;
}


/*
    图文详情 - 详情页面
*/
.graphic-details{
    position: relative;
    padding-top: 50px;
    padding-top:1.61rem;
}
.graphic-details .title{
    margin-bottom: 10px;
    height: 72px;
    height: 1.8rem;
    line-height: 72px;
    line-height: 1.8rem;
    font-size: 26px;
    font-size: .65rem;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
}
.graphic-details .title div{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.graphic-details .title .pic-info{
    border-right: 1px solid #d2d2d2;
}
.graphic-details .title .on{
    color: #db2476;
    border-bottom: 2px solid #db2476;
}
.graphic-details .productParameter-cont{
    overflow: hidden;
}
.graphic-details .productParameter-cont ul{
    /*padding-left: 2em;*/
    padding:0 .8rem;
    margin-top: -1px;
    background-color: #fff;
}
.graphic-details .productParameter-cont li{
    overflow: hidden;
    line-height: 65px;
    line-height: 2em;
    font-size: 22px;
    font-size: .55rem;
    border-top: 1px solid #eee;
}
.graphic-details .productParameter-cont strong{
    color: #999;
    width: 8em;
    float: left;
    font-weight: normal;
}
.graphic-details .productParameter-cont p{
    color: #333;
    overflow: hidden;
    zoom: 1;
}


.graphic-details .pic-info-cont img{
    width: 100%;
}
.graphic-details .pic-info-cont{}
.graphic-details .pic-info-cont{}


/*
    看了又看 - 详情页面
*/
.see-more{}
.see-more{}


.themePavilionPage{
    padding-top: 10px;
}
.themePavilionPage img{
    width: 100%;
}
.themePavilionPage a{
    display: block;
    margin-bottom: 10px;
}
.themePavilionPage {}
.themePavilionPage{}
.themePavilionPage{}



/*
    我的
*/
.minePage{
    margin: .3rem;
}
.minePage .mine-banner{
    padding-top: 65px;
    padding-top: 1.6rem;
    height: 340px;
    height: 10rem;
    background-color: #e11f7e;
}
.minePage .mine-header{
    margin: 0 auto;
    display: block;
    overflow: hidden;
    width: 122px;
    width: 4rem;
    height: 122px;
    height: 4rem;
    border-radius: 50%;
    border: .1rem solid #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    background:#ccc url(../images/defaultAvatar.png) center no-repeat;
    background-size: contain;
}
.minePage .mine-header img{
    width: 100%;
}
.minePage .mine-name{
    text-align: center;
    line-height: 3em;
    font-size: 32px;
    font-size: .8rem;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.minePage .mine-login{
    margin: .5rem auto 0;
    width: 7.3rem;
    background-color: #fff;
    border-radius: .3rem;
    line-height: 2.2rem;
    text-align: center;
    color: #e11f7e;
    cursor: pointer;
    font-size: .9rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.minePage .mine-login:active{
    margin-top: .53rem;
}

.minePage .mine-more .part{
    background-color: #fff;
    margin-bottom: 17px;
    margin-bottom: .4rem;
    overflow: hidden;
}
.minePage .mine-more .item{
    cursor: pointer;
    margin:-1px .7rem 0;
    height: 2.2rem;
    border-top: 1px solid #eee;
    overflow: hidden;
}
.minePage .mine-more .right{
    float: right;
    width: 2.1rem;
    height: 2.1rem;
}
.minePage .mine-more .icon-right{
    width: .8rem;
    height: .8rem;
    margin: .7rem auto 0;
}
.minePage .mine-more .strong{
    font-size: .55rem;
    line-height: 2.1rem;
    display: block;
}




.feedbackPage{}
.feedbackPage textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: .2rem .3rem;
    line-height: 1.4em;
    font-size: 15px;
    min-height: 6rem;
    margin: .3rem 0;
    border: 1px solid #cecece;
}


.minePage.aboutUsPage{ }
.aboutUsPage{
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: #fff;
}
.aboutUsPage h3{
    font-size: 0.6rem;
    padding: .2rem 0 .2rem;
    color: #333;
    line-height: 1.6em;
}
.aboutUsPage p{
    text-indent: 2em;
    font-size: .5rem;
    color: #666;
    line-height: 1.6em;
    margin-bottom: .3rem;
}

/*
    修改密码
*/
.upPass{}



/* 登录、注册流程 */
.loginRegister{}
.loginRegister{ margin: .3rem; }
.loginRegister .set-info-main{
    margin-bottom: .3rem;
}
.loginRegister .info-lay{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
.loginRegister .info-name{
    /*border-top: 1px solid #000;*/
}
.loginRegister .info-lay input{
    line-height: 1em;
    padding: .5rem;
    border:0 none;
    font-size: 14px;
    margin-left: 15px;
}
.loginRegister .user-login{
    margin-bottom: .3rem;
}


    /*
        基本资料
    */

.setInfoPage {}

.setInfoPage .info-lay{
    position: relative;
    padding-left: 65px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.setInfoPage .set-info-main{
    margin: .3rem 0;
}
.setInfoPage .info-name{
    padding: .5rem 0;
    display: block;
    background-color: #fff;
    font-size: 15px;
}
.setInfoPage .info-text-name{
    position: absolute;
    left: .25rem;
    top: .5rem;
}
.setInfoPage .error{
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
}
.setInfoPage .txt{ border: 0 none; }
.setInfoPage .checkbox-four{ margin-right: 20px; }
.setInfoPage .checkbox-four input { margin-right: 5px; }
.setInfoPage select{ padding: 5px 10px; border: 1px solid #ededed; background: #fff; border-radius: 0; }


/*
    登录
*/
.mineLogin{}
.mineLogin .user-login{}
.mineLogin .submit-lay{
    overflow: hidden;
    height: 2rem;
}
.mineLogin .submit-lay > *{
    width: 48%;
    display: inline-block;
}
.mineLogin .submit-lay a:last-child{
    float: right;
    height: 1.8rem;
    background-color: #df1176;
    border-radius: .1rem;
}
.mineLogin .retrieve{
    text-align: right;
    line-height: 1.8em;
    font-size: 14px;
}
.mineLogin .submit-lay{}






.registerNext{}
.registerNext .reg-code{
    position: absolute;
    right: .2rem;
    top: .15rem;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #eceaea;
    color: #767676;
}
.registerNext .regLoad{
    border: 1px solid #e32d86;
    background-color: #fff;
    color: #e32d86;
}
.registerNext.innerPage .regCode input{
    width: 16rem;
}







